<section class="TodoSection">
          <div class="TodoSectionTitle">
            <p class="TodoSectionTitle-text"> <%= section_title %>  </p>
            <p class="TodoSectionTitle-remainingCount"> <%= todos.completed.count %> / <%= todos.count %> </p>
          </div>

          <ul>
            <% todos.each do |todo| %>
              <li class="TodoItem">
                <label class="TodoItem-container">
                  <input class="TodoItem-checkbox" type="checkbox" />
                <%= todo.todo_text %>
                <% if show_due_date %>
                  <p class= "TodoItem-dueDate" >  <%= todo.due_date.to_s(:long) %> </p>
                  <% end %>
                <a href="javascript:void(0)" class = "TodoItem-delete">
                <img src=delete.png alt="Delete" width="15" height="20">
                </a>
                </label>
            </li>

            <% end %>



          </ul>
</section>
